/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.order-container {
    margin-top: 10px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
}

.orders{
    margin-left: 50px;
}

.orders p{
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.line2{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1130px;
    color: #EEEEE4;
}

.order-header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 2px solid #EEEEEE;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 1000px; /* Reduces the width to half */
}

.order-tab {
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #868889;
    position: relative;
}

.order-tab.active {
    color: #6cc51d;
    font-weight: 600;
}

.order-tab.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #6cc51d;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.order-content {
    text-align: center;
    padding: 10px 60px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 400px;
}

.order-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-image {
    width: 466.58px;
    height: 330px;
    margin-bottom: 20px;
}

.order-text {
    font-size: 16px;
    font-weight: 20;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.order-button {
    background-color: #6cc51d;
    color: white;
    padding: 10px 30px;
    width: 466.58px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.order-button:hover {
    background-color: #5aa414;
}
