.signup-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.signup-modal {
    background: white;
    width: 800px;
    margin-top: 570px;
    max-height: 300vh;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


.top-icons {
    position: relative;
    width: 100%;
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}


.logo-img {
    width: 150px;
    height: 150px; 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wtbf {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

p, small {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

.secure-icon {
    position: relative;
    top: 5px;
    color: black;
}


.curved-input {
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    width: 100%;
    margin: 10px 0;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group select,
.input-group input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.input-group select {
    width: 30%;
}

.input-group input {
    flex-grow: 1;
}


.signup-btn {
    background: #DAF0C6;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.signup-btn:hover {
    background-color: #008000;
}


.social-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.text {
    margin: 0 10px;
    font-size: 14px;
    color: #666;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
    color: #555;
}

@media (max-width: 430px){
    .signup-overlay {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
    }
    
    .signup-modal {
        background: white;
        width: 800px;
        height: auto;
        margin-top: 310px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: none;
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
    }
   
    .top-icons {
        position: relative;
        width: 100%;
    }
    
    .back-btn {
        top: 10px;
        left: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .close-btn {
        top: 10px;
        right: 10px;
        border: none;
        display: none;
        background: transparent;
        cursor: pointer;
    }
    
   
    .logo-img {
        width: 120px;
        height: 120px; 
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
   
    .wtbf {
        font-size: 1.5rem;
        color: #333;
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    p, small {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 15px;
    }
    
    .secure-icon {
        position: relative;
        top: 5px;
        color: black;
    }
    
   
    .curved-input {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
   
    input[type="date"] {
        width: 100% !important;
        max-width: 100% !important;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .curved-input, .input-group input, .input-group select {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    
    
    .input-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .input-group select,
    .input-group input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
    }
    
    .input-group select {
        width: 30%;
    }
    
    .input-group input {
        flex-grow: 1;
    }
    
   
    .signup-btn {
        background: #DAF0C6;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .signup-btn:hover {
        background-color: #008000;
    }
    
   
    .social-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .separator {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
    
    .line {
        flex: 1;
        height: 1px;
        margin-top: 10px;
        background-color: #ccc;
    }
    
    .text {
        margin: 0 10px;
        font-size: 14px;
        color: #666;
    }
    
   
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .icon {
        font-size: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
        color: #555;
    }

    .signin{
        font-size: 15px;
        color: #000;
    }
    
}

@media (max-width: 414px){
    .signup-overlay {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
    }
    
    .signup-modal {
        background: white;
        width: 800px;
        height: auto;
        margin-top: 350px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: none;
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
    }
    
    
   
    .top-icons {
        position: relative;
        width: 100%;
    }
    
    .back-btn {
        top: 10px;
        left: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .close-btn {
        top: 10px;
        right: 10px;
        border: none;
        display: none;
        background: transparent;
        cursor: pointer;
    }
    
   
    .logo-img {
        width: 120px;
        height: 120px; 
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
   
    .wtbf {
        font-size: 1.5rem;
        color: #333;
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    p, small {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 15px;
    }
    
    .secure-icon {
        position: relative;
        top: 5px;
        color: black;
    }
    
   
    .curved-input {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
   
    input[type="date"] {
        width: 100% !important;
        max-width: 100% !important;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .curved-input, .input-group input, .input-group select {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    
    
    .input-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .input-group select,
    .input-group input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
    }
    
    .input-group select {
        width: 30%;
    }
    
    .input-group input {
        flex-grow: 1;
    }
    
   
    .signup-btn {
        background: #DAF0C6;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .signup-btn:hover {
        background-color: #008000;
    }
    
   
    .social-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .separator {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
    
    .line {
        flex: 1;
        height: 1px;
        margin-top: 10px;
        background-color: #ccc;
    }
    
    .text {
        margin: 0 10px;
        font-size: 14px;
        color: #666;
    }
    
   
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .icon {
        font-size: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
        color: #555;
    }

    .signin{
        font-size: 15px;
        color: #000;
    }
    
}

@media (max-width: 390px){
    .signup-overlay {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
    }
    
    .signup-modal {
        background: white;
        width: 800px;
        height: auto;
        margin-top: 450px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: none;
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
    }
   
    .top-icons {
        position: relative;
        width: 100%;
    }
    
    .back-btn {
        top: 10px;
        left: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .close-btn {
        top: 10px;
        right: 10px;
        border: none;
        display: none;
        background: transparent;
        cursor: pointer;
    }
    
   
    .logo-img {
        width: 120px;
        height: 120px; 
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
   
    .wtbf {
        font-size: 1.5rem;
        color: #333;
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    p, small {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 15px;
    }
    
    .secure-icon {
        position: relative;
        top: 5px;
        color: black;
    }
    
   
    .curved-input {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
   
    input[type="date"] {
        width: 100% !important;
        max-width: 100% !important;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .curved-input, .input-group input, .input-group select {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    
    
    .input-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .input-group select,
    .input-group input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
    }
    
    .input-group select {
        width: 30%;
    }
    
    .input-group input {
        flex-grow: 1;
    }
    
   
    .signup-btn {
        background: #DAF0C6;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .signup-btn:hover {
        background-color: #008000;
    }
    
   
    .social-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .separator {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
    
    .line {
        flex: 1;
        height: 1px;
        margin-top: 10px;
        background-color: #ccc;
    }
    
    .text {
        margin: 0 10px;
        font-size: 14px;
        color: #666;
    }
    
   
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .icon {
        font-size: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
        color: #555;
    }

    .signin{
        font-size: 15px;
        color: #000;
    }
    
}

@media (max-width: 375PX){
    .signup-overlay {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
    }
    
    .signup-modal {
        background: white;
        width: 800px;
        height: auto;
        margin-top: 500px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: none;
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
    }
    
    .top-icons {
        position: relative;
        width: 100%;
    }
    
    .back-btn {
        top: 10px;
        left: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .close-btn {
        top: 10px;
        right: 10px;
        border: none;
        display: none;
        background: transparent;
        cursor: pointer;
    }
   
    .logo-img {
        width: 120px;
        height: 120px; 
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
   
    .wtbf {
        font-size: 1.5rem;
        color: #333;
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    p, small {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 15px;
    }
    
    .secure-icon {
        position: relative;
        top: 5px;
        color: black;
    }
    
   
    .curved-input {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
   
    input[type="date"] {
        width: 100% !important;
        max-width: 100% !important;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .curved-input, .input-group input, .input-group select {
        width: 100%;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    
    .input-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .input-group select,
    .input-group input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
    }
    
    .input-group select {
        width: 30%;
    }
    
    .input-group input {
        flex-grow: 1;
    }
    
   
    .signup-btn {
        background: #DAF0C6;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .signup-btn:hover {
        background-color: #008000;
    }
    
   
    .social-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .separator {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
    
    .line {
        flex: 1;
        height: 1px;
        margin-top: 10px;
        background-color: #ccc;
    }
    
    .text {
        margin: 0 10px;
        font-size: 14px;
        color: #666;
    }
    
   
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .icon {
        font-size: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
        color: #555;
    }

    .signin{
        font-size: 15px;
        color: #000;
    }
    
}